.gitignore
.idea
/nefi2_prototype/*.pyc
/nefi2_prototype/model/*.pyc
/nefi2_prototype/model/algorithms/*.pyc
/nefi2_prototype/model/methods/*.pyc
/nefi2/nefi2/*.pyc
/nefi2/__pycache__/
/nefi2/model/algorithms/__pycache__/
/nefi2/model/__pycache__/*.pyc
/nefi2/model/.*.pyc
/nefi2/model/algorithms/*.pyc
/nefi2/model/categories/*.pyc
/nefi2/model/categories/__pycache__/
/nefi2/install_scripts_win/*.whl
/nefi2/install_scripts_win/*.exe
/nefi2/install_scripts_win/*.tar.gz
/nefi2/controller/__pycache__ 
/nefi2/unittests/__pycache__ 
/nefi2/unittests/unittest_model/__pycache__ 

