.sync
.gitignore
.idea
nefi2.komodoproject
/nefi2/output
/nefi2_prototype/*.pyc
/nefi2_prototype/model/*.pyc
/nefi2_prototype/model/algorithms/*.pyc
/nefi2_prototype/model/methods/*.pyc
/nefi2/nefi2/*.pyc
/nefi2/__pycache__/
/nefi2/model/algorithms/__pycache__/
/nefi2/model/__pycache__/*.pyc
/nefi2/model/.*.pyc
/nefi2/model/algorithms/*.pyc
/nefi2/model/categories/*.pyc
/nefi2/model/categories/__pycache__/
/nefi2/view/__pycache__/*.pyc
/nefi2/view/__pycache__/
/nefi2/install_scripts/*.whl
/nefi2/install_scripts/*.exe
/nefi2/install_scripts/*.tar.gz
/nefi2/controller/__pycache__ 
/nefi2/unittests/__pycache__ 
/nefi2/unittests/unittest_model/__pycache__
/gui_prototypes/Dennis/new/__pycache__/*.pyc
/gui_prototypes/Dennis/new/__pycache__/
/Pavels_pipeline_sanity_test/__pycache__/
/nefi2/_cache_/
/build/nefi2_win_amd64_msvc_2015/pyqtdeploy/build
/build/nefi2_win_amd64_msvc_2015/bin/model/algorithms/__pycache__/
/build/nefi2_win_amd64_msvc_2015/bin/model/categories/__pycache__/
/build/nefi2_win_amd64_msvc_2015/bin/_cache_/
/build/nefi2_win_amd64_msvc_2015/bin/output/