<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- Application order of image processing methods -->
    <order>
        <method>Preprocessing</method>
        <method>Segmentation</method>
        <method>Graph detection</method>
        <method>Graph filtering</method>
    </order>
    <!-- Settings for default pipeline -->
    <pipeline>
        <settings method="Preprocessing" alg="Blur">
            <param name="ksize">5</param>
        </settings>
        <settings method="Segmentation" alg="Adaptive Threshold">
            <param name="block_size">11</param>
            <param name="constant">2</param>
        </settings>
        <settings method="Graph detection" alg="Guo Hall graph detector">
        </settings>
        <settings method="Graph filtering" alg="Keep only largest connected component">
        </settings>
    </pipeline>
</config>
